In [1]:
import pandas as pd

In [2]:
from djmodel import get_model_repr

In [3]:
df = pd.read_csv('http://opendata.praha.eu/dataset/8dbb0d35-692c-4668-b225-c0702853c28e/resource/c4f3157a-ef07-423a-9051-7c748484d6df/download/5d88f52c-78ee-4de3-ad18-9b844737cd63-parking.csv')

In [4]:
df.head()

                       name        lat        lng    pr  totalNumOfPlaces
0                 Běchovice  50.080800  14.597429  True                92
1                    Chodov  50.032074  14.492015  True               653
2             Depo Hostivař  50.076397  14.517204  True               169
3                Holešovice  50.109318  14.441252  True                74
4  Kongresové centrum Praha  50.060696  14.428616  True               260

In [5]:
df.dtypes

name                 object
lat                 float64
lng                 float64
pr                     bool
totalNumOfPlaces      int64
dtype: object

In [6]:
print (get_model_repr(df))

class DFModel(models.Model):
    name = models.CharField(max_length=40) # max length was 24
    lat = models.FloatField() # min: 49.986686999999996, max: 50.126156, mean: 50.07130665217392
    lng = models.FloatField() # min: 14.28977, max: 14.597429, mean: 14.461379999999997
    pr = models.BooleanField() #
    total_num_of_places = models.PositiveSmallIntegerField() # min: 33, max: 1205, mean: 275.9130434782609

In [7]:
print(get_model_repr(df, col_casing='camel', indent=2, model_name='PragueParkingLot'))

class PragueParkingLot(models.Model):
  name = models.CharField(max_length=40) # max length was 24
  lat = models.FloatField() # min: 49.986686999999996, max: 50.126156, mean: 50.07130665217392
  lng = models.FloatField() # min: 14.28977, max: 14.597429, mean: 14.461379999999997
  pr = models.BooleanField() #
  totalNumOfPlaces = models.PositiveSmallIntegerField() # min: 33, max: 1205, mean: 275.9130434782609

In [8]:
get_model_repr(df)

'class DFModel(models.Model):\n    name = models.CharField(max_length=40) # max length was 24\n    lat = models.FloatField() # min: 49.986686999999996, max: 50.126156, mean: 50.07130665217392\n    lng = models.FloatField() # min: 14.28977, max: 14.597429, mean: 14.461379999999997\n    pr = models.BooleanField() # \n    total_num_of_places = models.PositiveSmallIntegerField() # min: 33, max: 1205, mean: 275.9130434782609\n'

In [9]:
foo=pd.read_csv('foo.csv')

In [10]:
foo.head()

     DateTime         A         B         C         D
0  01-01-2000 -0.813312 -0.565007 -0.303130  0.116437
1  02-01-2000 -0.263929 -0.940643  2.447559 -1.013753
2  03-01-2000 -0.368734 -1.695076  3.575228 -0.596990
3  04-01-2000  1.660560 -0.868559  3.640053 -0.914362
4  05-01-2000  1.124829  0.273860  3.819586 -1.503456

In [11]:
foo.dtypes

DateTime     object
A           float64
B           float64
C           float64
D           float64
dtype: object

In [12]:
print(get_model_repr(foo))

class DFModel(models.Model):
    Date_time = models.CharField(max_length=20) # max length was 10
    a = models.FloatField() # min: -18.68946437, max: 52.1952781, mean: 18.303331880431
    b = models.FloatField() # min: -11.71823209, max: 77.42975359, mean: 19.410974501147
    c = models.FloatField() # min: -24.07498959, max: 12.66699283, mean: -6.373214935728001
    d = models.FloatField() # min: -9.126647771, max: 24.16269858, mean: 9.199696272191

In [13]:
get_model_repr(foo, col_casing='camel',indent=2,model_name='foo')

'class foo(models.Model):\n  dateTime = models.CharField(max_length=20) # max length was 10\n  a = models.FloatField() # min: -18.68946437, max: 52.1952781, mean: 18.303331880431\n  b = models.FloatField() # min: -11.71823209, max: 77.42975359, mean: 19.410974501147\n  c = models.FloatField() # min: -24.07498959, max: 12.66699283, mean: -6.373214935728001\n  d = models.FloatField() # min: -9.126647771, max: 24.16269858, mean: 9.199696272191\n'

In [14]:
print(get_model_repr(foo,col_casing='camel',indent=2,model_name='foobar'))

class foobar(models.Model):
  dateTime = models.CharField(max_length=20) # max length was 10
  a = models.FloatField() # min: -18.68946437, max: 52.1952781, mean: 18.303331880431
  b = models.FloatField() # min: -11.71823209, max: 77.42975359, mean: 19.410974501147
  c = models.FloatField() # min: -24.07498959, max: 12.66699283, mean: -6.373214935728001
  d = models.FloatField() # min: -9.126647771, max: 24.16269858, mean: 9.199696272191